#tasks {
    width: 100%;
    height: calc(100vh - 100px);
    /* display: flex; */
}

#tasks .title h2 {
    font-size: 2rem;
    color: var(--third);
    padding: 20px;
}

#tasks .tabs {
    height: 5vh;
    width: 100%;
    display: flex;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--third);
}

#tasks .tabs .tab {
    min-width: 100px;
    padding: 10px;
    border-width: 0 0 3px 0;
    background-color: #5E6E4E00;
    border-style: solid;
    border-color: #5E6E4E00;
    color: var(--third);
    font-weight: bold;
    text-align: center;
}

#tasks .tabs .tab:hover,
#tasks .tabs .tab.active {
    background-color: #5E6E4E30;
    border-color: var(--third);
    cursor: pointer;
}

/* FLEX */

#kanban {
    display: flex;
    display: none;
    overflow-x: auto;
    max-height: 75vh;
}

kanban-view,
new-kanban-tag {
    max-width: 100%;
    width: 300px;
    min-width: 300px;
    margin: 1%;
}

.kanban_view,
.add_kanban {
    max-width: 100%;
    width: 300px;
    min-width: 300px;

    border-radius: var(--radius);

    background-color: #7D926890;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.kanban_view>.title {

    position: sticky;
    top: 0px;
    z-index: 4;
    background-color: var(--selected);
    width: calc(100% - 10px);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius);

}

.kanban_view>.title input[type='text'] {

    color: inherit;
    background-color: inherit;
    border: 0px;
    font-weight: inherit;
    font-size: inherit;
    outline: 0px;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 5px;
}

.kanban_view>.title input[type='text']:focus {

    background-color: var(--selected);
    border: 2px solid var(--secondary);
    border-radius: var(--radius);

}

.kanban_view .title {
    font-weight: bold;
    color: white;
    padding: 10px;
}

.kanban_view .box {
    /* width: calc(25% - 28px); */
    width: 100%;
    margin: 10px;
    transition: 0.5s;
}

.kanban_view .box .box_inner {
    /* width: calc(25% - 28px); */
    width: calc(100% - 4px);
    height: 200px;
    border-radius: var(--radius);
    border: 4px solid var(--selected);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* background-image: url("https://cdn.pixabay.com/photo/2023/11/05/21/04/alps-8368328_1280.jpg"); */
    background-position: center;
    background-size: cover;

    transition: 0.5s;
}

.kanban_view .box:hover {
    transition: 0.5s;
    cursor: pointer;
}

.kanban_view .box .box_content {
    transition: 1s;
    opacity: 0.9;
    background-color: var(--selected);
    padding: 10px;

}

.kanban_view .box:hover .box_content {
    opacity: 1;
}

.kanban_view .box .title {
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.kanban_view .box .description {
    color: white;
}

.kanban_view .box.dragging {
    opacity: 0.5;
}

/* add_kanban */

.add_kanban {
    color: white;
    font-weight: bold;
    padding: 17.5px;
    cursor: pointer;
    transition: 0.5s;
}

.add_kanban:hover {
    background-color: var(--selected);
    transition: 0.5s;
}

kanban-view .tags_delete {
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
}

kanban-view:hover .tags_delete {
    opacity: 1;
    transition: 0.5s;
}

kanban-view .title .icon {
    width: 25px;
    cursor: pointer;
}

kanban-view .title input {
    width: 75%;
}