<section id="single_note">

    <div class="header">
        <div class="close">
            {{insert_svg modules/notes/assets/img/previous-arrow-backward.svg}}
        </div>
        <div class="details">
            <div class="modify_data">
                0000/00/00
            </div>
            <div class="dowload">
                {{insert_svg modules/notes/assets/img/download.svg}}
            </div>
            <div class="delete">
                {{insert_svg modules/notes/assets/img/trash-alt-delete-bin.svg}}
            </div>
        </div>
    </div>


    <div class="content">
        <div class="loader"></div>
    </div>

</section>


<section id="tasks">

    <div class="title">
        <h2>{{task_group_title}}</h2>
    </div>

    <div class="tabs">
        <div class="tab" data-type="kanban">kanban</div>
        <div class="tab" data-type="list">list</div>
        <div class="tab" data-type="grid">grid</div>
    </div>
    <div class="content">
        <div id="list">
            <div class="newTask">
                <input type="text" placeholder="Task" id="newTaskName">
                <button id="addNewTask">Dodaj</button>
            </div>

            <div id="task"></div>
        </div>

        <div id="grid">
        </div>

        <div id="kanban">

        </div>


    </div>

</section>