<section id="tasks">

    <div class="title">
        <h2>{{task_group_title}}</h2>
    </div>

    <div class="tabs">
        <div class="tab" data-type="kanban">kanban</div>
        <div class="tab" data-type="list">list</div>
        <div class="tab" data-type="grid">grid</div>
    </div>
    <div class="content">
        <div id="list">
            <div class="newTask">
                <input type="text" placeholder="Task" id="newTaskName">
                <button id="addNewTask">Dodaj</button>
            </div>

            <div id="task"></div>
        </div>

        <div id="grid">
        </div>

        <div id="kanban">



            <!-- <div class="kanban_view">

                <div class="title">
                    TODO
                </div>

                <task-box name="test1" class="box" draggable="true">
                    TEST
                </task-box>

                <task-box name="test2" class="box" draggable="true"></task-box>

                <task-box name="test3" class="box" draggable="true"></task-box>

            </div>
            <div class="kanban_view">
                <div class="title">
                    IN PROGRES
                </div>
            </div>

            <div class="kanban_view">
                <div class="title">
                    TEST
                </div>
            </div> -->

        </div>


    </div>

</section>