<div class="select">

</div>
<div class="options">
    <div class="add option" add="true">
        <img src="http://192.168.0.117:8000/modules/text-editor/assets/icons/add-plus.svg" alt="add" add="true" />
    </div>
    <div class="move option">
        <img src="http://192.168.0.117:8000/modules/text-editor/assets/icons/nimbus_drag-dots.svg" alt="down" />
    </div>
</div>
<div class="data">

</div>
<div class="options">
    <!-- <div class="more option">
        <img src="http://192.168.0.117:8000/modules/text-editor/assets/icons/more.svg" alt="more" />
    </div> -->
    <div class="delete option">
        <img src="http://192.168.0.117:8000/modules/text-editor/assets/icons/ph_trash-bold.svg" alt="more" />
    </div>
</div>
<div class="drop">

</div>