<div class="select-box p">
    <p>p</p>
</div>
<div class="select-box h1">
    <p>h1</p>
</div>
<div class="select-box h2">
    <p>h2</p>
</div>
<div class="select-box h3">
    <p>h3</p>
</div>
<div class="divider"></div>
<div class="select-box img">
    <!-- <img src="./../assets/icons/photo-image-picture.svg" /> -->
    <object type="image/svg+xml" data="./../assets/icons/photo-image-picture.svg"></object>

</div>
<div class="select-box list">

    <object type="image/svg+xml" data="./../assets/icons/listing-number.svg"></object>

</div>
<div class="select-box delimiter">

</div>