<section id="form">
    <div class="menu">
        <!-- <ul>
            <li>Project details</li>
            <li>FTP details</li>
            <li>Collaborators</li>
        </ul> -->
    </div>
    <div class="form">

        <form method="post" enctype="multipart/form-data">

            <!-- project details -->
            <div class="steps" id="steps-1">
                <div>
                    <h3>Project details</h3>
                    <label>
                        <p>Name</p>
                        <input type="text" name="name">
                    </label>
                    <label>
                        <p>Photo</p>
                        <input type="file" name="photo" id="photo">
                    </label>
                    <label>
                        <p>Description</p>
                        <textarea name="description"></textarea>
                    </label>
                </div>
            </div>

            <!-- project ftp -->
            <div class="steps" id="steps-2">
                <div>
                    <h3>FTP details</h3>
                    <label>
                        <p>serwer</p>
                        <input type="text" name="serwer">
                    </label>
                    <label>
                        <p>Port</p>
                        <input type="text" name="port">
                    </label>
                    <label>
                        <p>user</p>
                        <input type="text" name="user">
                    </label>
                    <label>
                        <p>password</p>
                        <input type="text" name="password">
                    </label>
                </div>

            </div>

            <!-- project summary -->
            <div class="steps" id="steps-4">

                <input type="submit" class="button" name="create" value="Zapisz">

            </div>
        </form>

    </div>
</section>