/* Content */

.container {
    display: grid;

    grid-template-columns: [col-1] 100px [col-2] 20% [col-3] auto [col-4] 5% [col-end];
    grid-template-rows: [row-1] 5vh [row-2] 95vh [row-end];
}



.container {
    width: 100%;
    height: 100%;
}

.container header {
    grid-column: col-3 / col-end;
    grid-row: row-1 / row-2;
}

.container .additional {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    background-color: #FFFFFF;
    color: var(--selected);

    grid-column: col-3 / col-end;
    grid-row: row-1 / row-2;
}

.container .additional>* {
    display: flex;
    align-items: center;
    height: 100%;
}

.container .additional svg {
    stroke: var(--selected);
    fill: var(--selected);
}

.container .additional a {
    color: var(--selected);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.container .additional a:hover {
    color: var(--selected);
    text-decoration: none;
}

.container .data {
    grid-column: col-1 / col-2;
    grid-row: row-1 / row-2;
}

/* Logo */

.logo {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 75%;
}

/* Top bar */

.profile {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid var(--selected);
    background-image: url("/panel-template/img/user-default-icon.png");
    background-size: cover;
}

/* Nawigacja */

.container .projects {
    grid-column: col-1 / col-2;
    grid-row: row-1 / row-end;
    background-color: var(--selected);
}

.container nav {
    grid-column: col-2 / col-3;
    grid-row: row-1 / row-end;
    overflow: auto;

}

.container nav ul {
    list-style-type: none;
    padding: 0;
}

.container nav ul li {
    padding: 15px 0 15px 0;
    width: 95%;
    margin: 2.5%;
    border-radius: 20px;
    color: var(--third);
    align-items: center;
}

.container nav ul li .parent {
    display: flex;
}


.container nav ul li a {
    width: 100%;
    display: flex;
    color: var(--third);
}

.container nav ul li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.container nav ul li .name {
    width: 60%;
}


.container nav ul li .toggle {
    width: calc(15% - 5px);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container nav ul li .toggle.open svg {
    transform: rotateX(180deg);
    transition: 0.5s;
}

.container nav ul li .toggle svg {
    stroke: var(--third);
    fill: var(--third);
    transition: 0.5s;
}

.container nav ul li.active .toggle svg {
    /* stroke: var(--selected);
    fill: var(--selected) */
}

.container nav ul li .icon svg {
    fill: var(--third);
    stroke: var(--third)
}

.container nav ul li.active {
    /* border-left-color: var(--selected); */
    background-color: #7d926835;
    opacity: 1;
    /* color: var(--selected); */
}

.container nav ul li.active>a {
    border-left-color: var(--selected);
    /* border-bottom: 1px solid var(--selected); */
    /* color: var(--selected); */
}

.container nav ul li.active .icon svg {
    /* fill: var(--selected);
    stroke: var(--selected) */
}

li.active .toggle_nav>ul {
    display: block;
}

.container nav ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Rozwijane menu */

.toggle_nav>ul {
    display: none;

}

.toggle_nav>ul a {
    width: 100%;
    font-weight: normal !important;
    font-size: 12pt;
}

.toggle_nav li.active {
    background-color: rgba(255, 255, 255, 0) !important;
}

.toggle_nav li.active a {
    font-weight: bolder !important;
}

.container article {
    grid-column: col-3 / col-end;
    grid-row: row-2 / row-end;

    background-color: #FFFFFF;
    padding: 10px;

    overflow: auto;
}

/* Projects menu */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects .projects_list {
    height: calc(100vh - 100px);
    overflow-y: auto;
}


.projects .projects_list .project_box {
    width: 70px;
    height: 70px;
    border: 5px solid var(--selected);
    margin: 10px;
    background-color: var(--third);
    border-radius: 15px;
    /* background-image: url("/panel-template//img/user-default-icon.png");
    background-size: cover; */
    cursor: pointer;
    opacity: 0.8;
}

.projects .projects_list .project_box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}

.projects .projects_list .project_box:hover {
    border-color: var(--third);
    opacity: 1;
}

.projects .projects_list .project_box.active {
    border-color: var(--third);
    opacity: 1;
}

.projects .add_project {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: var(--third);
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .add_project:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--selected);
}

.projects .add_project svg {
    transition: 0.5s;
    stroke: var(--selected);
}

.projects .add_project:hover svg {
    transition: 0.5s;
    stroke: var(--third);
}

/* footer */
.container footer {
    grid-column: col-1 / col-2;
    grid-row: row-3 / row-end;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--selected);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    opacity: 0.8;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}

.container article::-webkit-scrollbar {
    width: 5px;
}

.container article::-webkit-scrollbar-track {
    background: var(--secondary);
}

.container article::-webkit-scrollbar-thumb {
    background: var(--selected);
}

.container article::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}

footer svg {
    stroke: white;
}

footer a {
    width: 150px;
    height: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #DB1F31;
    border-radius: 40px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer a span {
    margin-left: 10px;
}

.menu_hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.menu_hamburger>div {
    width: 30px;
    height: 4px;
    margin: 4px auto 4% auto;
    background-color: var(--primary);
}

@media screen and (max-width: 900px) {

    html,
    body {
        /* overflow-x: hidden;
        overflow-y: hidden; */
    }

    .container {
        height: auto;
        max-width: 100vw !important;
        margin: 0px !important;
        overflow: auto;
        grid-template-columns: [col-1] 75% [col-2] 25% [col-end];
        grid-template-rows: [row-1] 0 [row-2] 0 [row-3] 0 [row-4] 50px [row-5] minmax(calc(100vh - 100px), auto) [row-end];
        /* grid-template-rows: [row-1] 50px [row-2] calc(100vh - 150px) [row-3] 100px [row-4] 50px [row-5] calc(100vh - 40px) [row-end]; */
    }

    .container header {
        grid-column: col-1 / col-end;
        grid-row: 0 / row-1;
    }

    .container .additional {

        grid-column: col-1 / col-end;
        grid-row: row-4 / row-4;
    }

    .container .data {
        grid-column: col-1 / col-end;
        grid-row: row-1 / row-1;

    }

    .container nav {
        grid-column: col-1 / col-end;
        grid-row: row-2 / row-2;
    }

    .container article {
        grid-column: col-1 / col-end;
        grid-row: row-5 / row-end;
    }

    .container footer {
        grid-column: col-1 / col-end;
        grid-row: row-3 / row-3;

    }

    .container article .pole_filtry,
    .container article .buttons {
        flex-wrap: wrap;
    }

    .container article .buttons>.button,
    .container article .table_filtr {
        width: 75% !important;
        margin: 5px !important;
    }

    .container article .table_filtr .button {
        width: 100%;
    }

    .hidden nav,
    .hidden .data,
    .hidden footer {
        display: none !important;

    }

    nav,
    .data,
    footer {
        /* display: none !important; */
        position: fixed;
        background-color: var(--secondary);

    }

    .data {
        width: 100vw;
        height: 50px;
    }

    nav {
        width: 100vw;
        height: calc(100vh - 150px);
        margin-top: 50px;
    }

    footer {
        width: 100vw;
        height: 100px;
        margin-top: calc(100vh - 100px);
    }

    /* data */

    .data {
        display: flex;

    }

    .data .logo {
        width: calc(100% - 50px);

    }

    .menu_hamburger {
        display: flex;
        width: 50px;
    }

    .form {
        width: 100% !important;
    }

}

.popup-box {
    position: fixed;
    right: 0
}


.popup-box .popup {
    width: 250px;
    border: 5px solid #20AF0B;
    background-color: #20AF0B;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px 0 0 10px;
    color: white;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.popup-box .popup.error {
    border: 5px solid #FF3B2D;
    background-color: #FF3B2D;
}

.popup-box .popup:hover {
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.popup-box .popup p {
    padding: 0;
    margin: 0;
    line-height: 100%;
}

.popup-box .popup .title {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;

}

.popup-box .popup .icon {
    width: 40px;
    height: 100%;
}

.popup-box .popup .icon img {
    width: 30px
}

.popup-box .popup .close {
    width: 20px;
    height: 100%;
}

.popup-box .popup .close img {
    width: 10px
}

.popup-box .popup .content {
    width: 190px
}