:root {
    --radius: 5px;
    /* Color */
    --primary: #F5F5F5;
    --secondary: #DEE8E3;
    --third: #5E6E4E;
    --selected: #7D9268;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--secondary);
}