:root {
    --radius: 5px;
    /* Color */
    --primary: #F5F5F5;
    --secondary: #DEE8E3;
    --third: #5E6E4E;
    --selected: #7D9268;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--secondary);
}

/* LOADER */

.loader {
    border: 8px solid var(--secondary);
    border-top: 8px solid var(--third);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}