.cms_table {
    max-width: 100%;
    overflow-x: auto;

}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #282829;
    border-radius: var(--radius);
}


td {
    padding: 16px;
}

td.icon_field {
    /* display: flex; */
    /* justify-content: center; */
    /* width: 0px; */
    text-align: center;
    align-items: center;
    height: 100%;
}

th {
    /* background-color: var(--selected); */
    color: var(--selected);
    font-weight: bold;
    text-align: left;
    padding: 6px;
    font-size: 0.75rem;
    border-bottom: 1px solid var(--selected);
}

th a {
    color: var(--selected);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

th .arrows {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

th svg {
    stroke: rgba(194, 194, 194, 0.3);
}

th:hover svg {
    stroke: #c2c2c2;
}

th .arrows svg {
    width: 10px;
    height: 10px;
}

th .arrows .up,
th .arrows .down {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

th .arrows .up.active svg {
    stroke: var(--selected);
}

th .arrows .down.active svg {
    stroke: var(--selected);
}

.standard:nth-child(2n+2) {
    background-color: #F2F2F2 !important;
}

.standard:hover {
    background-color: #F2F2F2;
}

.pole_filtry {
    display: flex;
    justify-content: space-between;
}

/* navigation */

.page_navigation {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
    align-items: center;
}

.page_navigation .page_number {
    background-color: #282829;
    height: 15px;
    color: #F2F2F2;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_navigation a {
    height: 15px;
    background-color: #282829;
    color: #F2F2F2;
    padding: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_navigation .button_next {
    border-radius: 0 5px 5px 0;
}

.page_navigation .button_prev {
    border-radius: 5px 0 0 5px;
}

a.button {
    text-decoration: none;
    color: black;
}

.buttons {
    display: flex;
    margin-bottom: 10px;
    max-width: 85%;
    flex-wrap: wrap;
}

.button {
    width: 150px;
    display: flex;
    border: 2px solid #D8D8D8;
    height: 40px;
    /* padding: 5px; */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    margin-right: 10px;
    font-size: 12pt !important;
}

.button:hover {

    border-color: var(--selected);
    cursor: pointer;
    transition: 0.5s;
}

.button img {
    width: 15px;
    margin-right: 10px;
}

.options_list {
    height: auto;
    padding: 20px;
    border: 2px solid #D8D8D8;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: none;

    height: 0;


}

.options_list h3 {
    width: 100%;
}

.options_list.show {
    display: flex;
    flex-wrap: wrap;
    /* animation: toggle 1s; */
    /* overflow: hidden;
    */
    transition: 1s;

    height: auto;
}


/* @keyframes toggle {
    0% {
        height: 0px;
    }

    100% {
        height: fit-content;

    }
} */

.options_list input,
.options_list select {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border-width: 1px;
    border-color: var(--third);
    border-style: solid;
    background-color: rgba(255, 255, 255, 0);
    color: var(--secondary);
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.options_list input::placeholder {
    color: var(--third);
}

.options_list input[type="submit"] {
    width: 200px;
    background-color: var(--selected);
    color: var(--primary);
    transition: 0.5s;
    font-weight: bold;

    border-width: 1px;
    border-color: var(--selected);
    border-style: solid;

}

.options_list input[type="submit"]:hover {
    color: var(--selected);
    background-color: var(--primary);

}

tr.hide {
    display: none;
}

.explode {
    background-color: #F4F5F8;
}

.explode .header {
    /* width: 10px; */
    font-weight: bold;
    color: var(--selected);
}

.explode p span {

    font-weight: normal;
    color: var(--secondary);
}

.explode .boxes {
    display: flex;
    flex-wrap: wrap;
    max-width: 75vw;
}

.explode .content {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: var(--selected);
    padding: 5px;
    margin: 5px;
    width: calc(25% - 22px);
}

.explode .content:nth-child(4n) {
    border-width: 0;
}

.exploder svg {
    stroke: var(--secondary);
    width: 15px;
    height: 15px;
    transition: 0.5s;
}

.exploder.show svg {
    transition: 0.5s;
    transform: rotateX(180deg);
}

/* Scrollbar */

.cms_table::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.cms_table::-webkit-scrollbar-track {
    background: var(--primary);
}

.cms_table::-webkit-scrollbar-thumb {
    background: var(--selected);
    opacity: 0.8;
}

.cms_table::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}

.cms_table table a {
    color: black;
    text-decoration: none;
}

.cms_table table a:hover {
    color: var(--selected);
    text-decoration: none;
}

.table_filtr {
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
}