#notepads {
    width: 100%;
    height: auto;
    /* display: flex; */
}

#notepads .title h2 {
    font-size: 2rem;
    color: var(--third);
    padding: 20px;
}

#notepads .tabs {
    width: 100%;
    display: flex;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--third);
}

#notepads .tabs .tab {
    min-width: 100px;
    padding: 10px;
    border-width: 0 0 3px 0;
    background-color: #5E6E4E00;
    border-style: solid;
    border-color: #5E6E4E00;
    color: var(--third);
    font-weight: bold;
    text-align: center;
}

#notepads .tabs .tab:hover,
#notepads .tabs .tab.active {
    background-color: #5E6E4E30;
    border-color: var(--third);
    cursor: pointer;
}

#note_list {
    /* width: 50%; */
}

#single_note {
    position: fixed;
    z-index: 999;
    right: -750px;
    top: 0;
    min-width: 750px;
    height: 100vh;
    background-color: white;
    border-left: 2px solid var(--selected);
    /* display: none; */
    overflow-y: auto;
    transition: 1s;
    box-shadow: 0 0 10px gray;

}

.show_single_note {
    /* animation-name: show_note;
    animation-duration: 1s; */
    transition: 1s;
    right: 0 !important;
}

@keyframes show_note {
    from {
        right: -750px
    }

    to {
        right: 0px
    }
}


/* Grid view */
#grid {
    width: 100%;
}

.grid_view {
    /* width: 45%;
    margin: 2.5%; */

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.grid_view simple-card {
    /* width: 100%; */
    max-width: calc(25% - 20px);
    width: 25%;
    padding: 10px;
}

.grid_view .box:hover {
    transition: 0.5s;
    cursor: pointer;
}

.grid_view .box .box_content {
    transition: 1s;
    opacity: 0.9;
    background-color: var(--selected);
    padding: 10px;

}

.grid_view .box {
    /* width: calc(25% - 28px); */
    width: 100%;
    height: 200px;
    border-radius: var(--radius);
    border: 4px solid var(--selected);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url("https://cdn.pixabay.com/photo/2023/11/05/21/04/alps-8368328_1280.jpg");
    background-position: center;
    background-size: cover;

    transition: 0.5s;
}

.grid_view .box:hover .box_content {
    opacity: 1;
}

.grid_view .box .title {
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.grid_view .box .description {
    color: white;
}

.grid_view simple-card.dragging {
    opacity: 0.5;
}

.grid_view .add_box {
    width: calc(25% - 28px);
    /* width: calc(100%); */
    height: 200px;
    margin: 10px;
    border-radius: var(--radius);
    border: 4px solid var(--selected);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--selected);
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.5;
}

.grid_view .add_box:hover {
    opacity: 1;
}

/* FLEX */

#kanban {
    display: flex;
    display: none;
}

.kanban_view {
    width: 48%;
    margin: 1%;
    border-radius: var(--radius);

    background-color: #7D926890;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.kanban_view .title {
    font-weight: bold;
    color: white;
    padding: 10px;
}

.kanban_view .box {
    /* width: calc(25% - 28px); */
    width: calc(100%);
    height: 200px;
    margin: 10px;
    border-radius: var(--radius);
    border: 4px solid var(--selected);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url("https://cdn.pixabay.com/photo/2023/11/05/21/04/alps-8368328_1280.jpg");
    background-position: center;
    background-size: cover;

    transition: 0.5s;
}

.kanban_view .box:hover {
    transition: 0.5s;
    cursor: pointer;
}

.kanban_view .box .box_content {
    transition: 1s;
    opacity: 0.9;
    background-color: var(--selected);
    padding: 10px;

}

.kanban_view .box:hover .box_content {
    opacity: 1;
}

.kanban_view .box .title {
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.kanban_view .box .description {
    color: white;
}

.kanban_view .box.dragging {
    opacity: 0.5;
}

/* single_note */

#single_note {}

#single_note .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid var(--selected);

}

#single_note .header .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#single_note .header .details>div {
    display: flex;
    padding: 10px;
}

#single_note .header .details .modify_data {
    font-weight: bold;
    color: var(--selected)
}

#single_note .header svg {
    stroke: var(--selected)
}

#single_note .header .close:hover svg {
    stroke: var(--third);
    cursor: pointer;
}

#single_note .content {
    padding: 20px;
}

#single_note .content .background {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: var(--radius);
}

#single_note .content .add_button {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    border: 4px solid var(--selected);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--selected);
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.5;
}

#single_note .content .add_button:hover {
    opacity: 1;
}

#single_note .content h3 {
    font-size: 2rem;
    color: var(--selected)
}

#single_note .content input[type='text'] {
    border: 0px solid rgba(255, 255, 255, 0);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
}

#single_note .content .params th,
#single_note .content .params td {
    border-width: 0px;
    font-size: 1rem;
}