#notepads {
    width: 100%;
    height: auto;
}

#notepads .title h2 {
    font-size: 2rem;
    color: var(--third);
    padding: 20px;
}

#notepads .tabs {
    width: 100%;
    display: flex;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--third);
}

#notepads .tabs .tab {
    min-width: 100px;
    padding: 10px;
    border-width: 0 0 3px 0;
    background-color: #5E6E4E00;
    border-style: solid;
    border-color: #5E6E4E00;
    color: var(--third);
    font-weight: bold;
    text-align: center;
}

#notepads .tabs .tab:hover,
#notepads .tabs .tab.active {
    background-color: #5E6E4E30;
    border-color: var(--third);
    cursor: pointer;
}