.error,
.warn,
.correct,
.neutral {
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: var(--radius);
    text-align: center;
}

.error {
    background-color: #ff9999;
    color: #c00;
}

.warn {
    background-color: #ffff99;
    color: #c08500;
}

.correct {
    background-color: #99ff99;
    color: #0c0;
}

.neutral {
    background-color: #f0f0f0;
    color: #333;
}

tbody tr {
    cursor: pointer;
}