<div class="welcome_message">
    <p>Witaj!</p>

    <p>
        Cieszę się, że dołączyłeś do naszej platformy organizacyjnej. Tutaj możesz zarządzać projektami, tworzyć listy
        zadań
        oraz współpracować z innymi członkami zespołu w sposób niezwykle efektywny.
    </p>

    <p>
        Rozpocznij od stworzenia swojej pierwszej przestrzeni roboczej, dodaj karty z zadaniami do wykonania, a
        następnie
        przypisuj je,
        ustawiaj terminy i śledź postępy.
    </p>
</div>