:root {
    --radius: 5px;
}

#text-editor {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5vh;
}

#text-editor .page {
    /* background-color: #EEEEEE; */
    border-radius: var(--radius);
    padding: 20px;
    /* box-shadow: 0 0 5px black; */
    width: 100%;
    overflow-x: auto;
}

/* box */

#text-editor .box {
    display: flex;
    flex-wrap: wrap;
}

#text-editor .box .options {
    opacity: 0;
    display: flex;
    justify-content: center;
    width: 40px;
    transition: 0.5s;
}

#text-editor .box .select {
    width: 100%;
    /* height: 20px; */
    /* box-shadow: 0 0 5px black; */
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #282829;
    /* display: flex; */
    display: none;
}

#text-editor .box .select.show {
    /* visibility: visible; */
    display: flex;
    opacity: 1;
    transition: 1s;
    animation: toggle 0.5s;
    align-items: center;
}

@keyframes toggle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#text-editor .box:hover .select {
    /* display: block; */
    /* display: flex; */

}

#text-editor .box .select .divider {
    width: 2px;
    background-color: #f6f6f6;
    border-radius: 10px;
    height: 15px;
}

#text-editor .box .select .select-box {
    margin: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}


#text-editor .box .select .select-box p {
    text-transform: uppercase;
    font-weight: bold;
    color: #f6f6f6;
    font-size: 7pt;
    padding: 0px;
    margin: 0px;
}

#text-editor .box .select .select-box:hover {
    /* border: 0.5px solid #282829; */
    background-color: #f6f6f6;
    cursor: pointer;
}

#text-editor .box .select .select-box:hover p {
    color: #282829
}



#text-editor .box:hover .options {
    opacity: 1;
    transition: 0.5s;
}

#text-editor .box .options .option {
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
}


#text-editor .box .data {
    width: calc(100% - (40px * 2));
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#text-editor .box .data .content {
    padding: 2.5px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    /* height: auto; */
    /* max-height: 20px; */
    /* min-height: 20px; */

    vertical-align: middle;
    display: table-cell;

    outline: none;
    border-radius: var(--radius);

    background-color: inherit;
}

textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#text-editor .box .content {
    border: 1px solid rgba(0, 0, 0, 0);
}

#text-editor .box:hover .content {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

#text-editor .box .drop {
    transition: 0.5s;
    width: 100%;
    /* background-color: red; */
    height: 10px;
    opacity: 0.5;
    border-radius: 5px;
}

#text-editor .box .drop.on {
    transition: 0.5s;
    /* width: 100%; */
    /* height: 20px; */
    background-color: #282829;
}

.move {
    cursor: grab;
}

.option {
    cursor: pointer;
}

.select-box object {
    width: 80%;
}

/* Type */

.content {
    font-size: 1rem;
}

.content p {
    font-size: 1rem;
}

.content.h1 {
    font-size: 2.5rem;
}

.content.h2 {
    font-size: 2rem;
}

.content.h3 {
    font-size: 1.5rem;
}

.content:empty:before {
    content: "Zacznij pisać";
    color: #888;
    font-style: italic;
}